[submodule ".registry"]
	path = .registry
	url = https://github.com/amalan-constat/amalan-constat.r-universe.dev
	branch = HEAD
[submodule "NeEDS4BigData"]
	path = NeEDS4BigData
	url = https://github.com/Amalan-ConStat/NeEDS4BigData
[submodule "OlympicRshiny"]
	path = OlympicRshiny
	url = https://github.com/Amalan-ConStat/OlympicRshiny
[submodule "SLPresElection"]
	path = SLPresElection
	url = https://github.com/Amalan-ConStat/SLPresElection
[submodule "SouthParkRshiny"]
	path = SouthParkRshiny
	url = https://github.com/Amalan-ConStat/SouthParkRshiny
[submodule "fitODBOD"]
	path = fitODBOD
	url = https://github.com/Amalan-ConStat/fitODBOD
[submodule "fitODBODRshiny"]
	path = fitODBODRshiny
	url = https://github.com/Amalan-ConStat/fitODBODRshiny
