[submodule ".registry"]
	path = .registry
	url = https://github.com/amalan-constat/amalan-constat.r-universe.dev
	branch = HEAD
[submodule "OlympicRshiny"]
	path = OlympicRshiny
	url = https://github.com/Amalan-ConStat/OlympicRshiny
[submodule "SLPresElection"]
	path = SLPresElection
	url = https://github.com/Amalan-ConStat/SLPresElection
[submodule "fitODBOD"]
	path = fitODBOD
	url = https://github.com/Amalan-ConStat/fitODBOD
